{% load static %}
<!DOCTYPE html>
<html lang="en">
<style>
    .p1{
        background-image: url("{% static 'assets/help_img.jpg' %}");
        background-repeat: no-repeat;
        background-size: 1366px 768px;
    }
    body{
        background-image: url("{% static 'assets/texture3.jpg' %}");
    }
</style>
<head>
    <link rel="stylesheet"
    type="text/css"
    href="{% static 'css/css2.css' %}"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emergency Help</title>
</head>
<body style="background-color: black">
    <div class="h1">
        <h1>Helpline Numbers</h1>
    </div>

    <div class="p1">
        <p>

            
            <ul class="u1" id="ulist">
                <li>NATIONAL EMERGENCY NUMBER-112</li>
                <li>POLICE-100</li>
                <li>FIRE-101</li>
                <li>AMBULANCE-102</li>
            </ul>

            <ul class="u11">
             <li>Disaster Management Services-108</li>
             <li>Women Helpline-1091</li>
             <li>Women Helpline - Domestic Abuse-181</li>
             <li>Air Ambulance-9540161344</li>
             <li>Aids Helpline-1097</li>
             <li>Anti Poison New Delhi -1066 or 011-1066
            <li>Disaster Management N.D.M.A 011-26701728-1078
             <li> EARTHQUAKE/ FLOOD/ DISASTER N.D.R.F:011-24363260
             <li> Deputy Commissioner Police - Missing Child And Women: 1094
             <li> Railway Enquiry: 139
             <li> Senior Citizen Helpline: 1091/ 1291
             <li> Railway Accident Emergency Service:1072</li>
             <li>Road Accident Emergency Service:1073
             <li>ORBO Centre, AIIMS (For Donation Of Organ) Delhi: 1060</li>
             <li> Call Centre: 1551</li>
             <li>Relief Commissioner For Natural Calamities: 1070</li>
              <li>Children In Difficult Situation: 1098</li>
              <li>Central Vigilance Commission: 1964</li>
             <li>Tourist Helpline: 1363 or 1800111363</li>
              <li>LPG Leak Helpline: 1906</li>
             
            </ul>

        
        </p>
    </div>
    <div class="h2">
        <h1></h1><i><b>Emergengy Situation Tips</b></i></h1>
    </div>

    <div class="p2">
        <p>
            <ul class="u2">
                <li><b>Don’t panic.</b> Are you easily prone to stress? Read about  Ways To Stay Calm During An Emergency</li>

                <li><b>Make sure you are in a safe position to offer help. DO NOT</b> attempt to assist victims if you are in danger (for example, the building is on fire, traffic has not been controlled, or guns are being fired etc.). </li>
                <li<b>>Remember the ABCs of Life Support</b> Airways open—Open and maintain victim’s airway. Breathing restored—If victim is not  breathing, then begin rescue-breathing techniques immediately. Circulation maintained—If no pulse is present, call <b>911</b> or your  local Emergency Medical Services (EMS) and then get assistance from a person certified in cardiopulmonary resuscitation  (CPR) techniques. REMEMBER, to be able to perform CPR effectively, it is essential to be properly trained.</li>
                <li><b>Check for bleeding.</b> Apply direct pressure with a clean cloth and seek medical attention as soon as possible. If possible, wear  health care gloves to protect yourself from direct contact with blood. </li>
                <li><b>Look for signs of shock and broken bones or fractures.</b> </li>
                <li><b>Call 911 or your local emergency services quickly.</b> Know emergency numbers such as <b>0</b> or <b>911.</b> Telephone appropriate authorities (rescue squad, ambulance, police, poison control center
                    [<b>1-800-222-1222</b>] or fire department) and describe the problem. Be sure to give your name, location, and the number of people involved.</li>
                 <li><b>Check for emergency medical identification on the victim.</b></li>
                 <li><b>Loosen any clothing</b> that may restrict victim’s breathing or interfere with circulation.</li>
                <li><b>Never give an unconscious person anything by mouth</b></li>
                 <li><b>DO NOT</b> move injured persons unless situation is life threatening. Keep victim still, quiet, and warm (except for heat exhaustion and heatstroke see Heat Exposure section for specific care instructions).

            </ul>
            
            </p>


    </div>

   <div class="b">
       <button onclick="location.href='home'" class="btn" type="button">BACK</button>
   </div>

    
</body>
</html>

