{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet"
    type="text/css"
    href="css/css2.css"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emergency Help</title>

    <link rel="stylesheet" href="{% static 'css/css2.css' %}"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Pogo Slider CSS -->
    <link rel="stylesheet" href="{% static 'css/pogo-slider.min.css' %}">
	<!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">    
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Girassol&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">

</head>
<body style="background-color: black; background-image: url('/static/images/Emergency Services.jpg') ;
    background-repeat: no-repeat;
    background-size: 1366px 1500px;
    margin-top: 100px;">
    <header class="top-header">
		<nav class="navbar header-nav navbar-expand-lg">
            <div class="container">
				<a class="navbar-brand" href="index.html"><img src="{% static 'images/WebChat Logo.png' %}" alt="image"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
					<span></span>
					<span></span>
					<span></span>
				</button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                    <ul class="navbar-nav">
                        <li><a class="nav-link" href="home">Home</a></li>
                        <li><a class="nav-link" href="serve">Services</a></li>
                        <li><a class="nav-link active" href="emergency">Emergency Help</a></li>
						<li><a class="nav-link" href="contact_us">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </nav>
	</header>
    <div class="h1" style="margin-top: 150px; font-family: 'Girassol', cursive; font-size: 6em;">
        <h1 style="font-size: 50px;">Helpline Numbers</h1>
    </div>

    <div class="p1">
        <p>

            
            <ul class="u1" id="ulist">
                
                <li>NATIONAL EMERGENCY NUMBER-112</li>
                <li>POLICE-100</li>
                <li>FIRE-101</li>
                <li>AMBULANCE-102 </li>
            
            </ul>
            <br>
            <ul class="u11">
             <li>Disaster Management Services-108</li>
             <li>Women Helpline-1091</li>
             <li>Women Helpline - Domestic Abuse-181</li>
             <li>Air Ambulance-9540161344</li>
             <li>Aids Helpline-1097</li>
             <li>Anti Poison New Delhi -1066 or 011-1066
             <li>Disaster Management N.D.M.A 011-26701728-1078
             <li> Earthquake/Flood/Disaster N.D.R.F:011-24363260
             <li> Deputy Commissioner Police-Missing Child And Women: 1094
             <li> Railway Enquiry: 139
             <li> Senior Citizen Helpline: 1091/ 1291
             <li> Railway Accident Emergency Service:1072</li>
             <li>Road Accident Emergency Service:1073
             <li>ORBO Centre, AIIMS (For Donation Of Organ) Delhi: 1060</li>
             <li> Call Centre: 1551</li>
             <li>Relief Commissioner For Natural Calamities: 1070</li>
             <li>Children In Difficult Situation: 1098</li>
             <li>Central Vigilance Commission: 1964</li>
             <li>Tourist Helpline: 1363 or 1800111363</li>
             <li>LPG Leak Helpline: 1906</li>
             
            </ul>

        
        </p>
    </div>
    <div class="h2" style="font-family: 'Girassol', cursive;">
        <h1 style="font-size: 50px;" ><i><b>Emergency Situation Tips</b></i></h1>
    </div>

    <div class="p2">
        <p>
            <ul class="u2">
                <li>><b>Don’t panic.</b> Are you easily prone to stress? Read about  Ways To Stay Calm During An Emergency</li>

                <li>><b>Make sure you are in a safe position to offer help. DO NOT</b> attempt to assist victims if you are in danger (for example, the building is on fire, traffic has not been controlled, or guns are being fired etc.). </li>
                <li>><b>Remember the ABCs of Life Support</b> Airways open—Open and maintain victim’s airway. Breathing restored—If victim is not  breathing, then begin rescue-breathing techniques immediately. Circulation maintained—If no pulse is present, call <b>911</b> or your  local Emergency Medical Services (EMS) and then get assistance from a person certified in cardiopulmonary resuscitation  (CPR) techniques. REMEMBER, to be able to perform CPR effectively, it is essential to be properly trained.</li>
                <li>><b>Check for bleeding.</b> Apply direct pressure with a clean cloth and seek medical attention as soon as possible. If possible, wear  health care gloves to protect yourself from direct contact with blood. </li>
                <li>><b>Look for signs of shock and broken bones or fractures.</b> </li>
                <li>><b>Call 911 or your local emergency services quickly.</b> Know emergency numbers such as <b>0</b> or <b>911.</b> Telephone appropriate authorities (rescue squad, ambulance, police, poison control center
                    [<b>1-800-222-1222</b>] or fire department) and describe the problem. Be sure to give your name, location, and the number of people involved.</li>
                 <li>><b>Check for emergency medical identification on the victim.</b></li>
                 <li>><b>Loosen any clothing</b> that may restrict victim’s breathing or interfere with circulation.</li>
                <li>><b>Never give an unconscious person anything by mouth</b></li>
                 <li>><b>DO NOT</b> move injured persons unless situation is life threatening. Keep victim still, quiet, and warm (except for heat exhaustion and heatstroke see Heat Exposure section for specific care instructions).

            </ul>
            
            </p>


    </div>

   <!--<div class="b">
       <button onclick="location.href='Homepage.html'" class="btn" type="button">BACK</button>
   </div>-->

    
 	<!-- ALL JS FILES -->
     <script src="{% static 'js/jquery.min.js' %}"></script>
     <script src="{% static 'js/popper.min.js' %}"></script>
     <script src="{% static 'js/bootstrap.min.js' %}"></script>
     
     <!-- ALL PLUGINS -->
     <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
     <script src="{% static 'js/jquery.pogo-slider.min.js' %}"></script> 
     <script src="{% static 'js/slider-index.js' %}"></script>
     <script src="{% static 'js/smoothscroll.js' %}"></script>
     <script src="{% static 'js/form-validator.min.js' %}"></script>
     <script src="{% static 'js/contact-form-script.js' %}"></script>
     <script src="{% static 'js/isotope.min.js' %}"></script>	
     <script src="{% static 'js/images-loded.min.js' %}"></script>	
     <script src="{% static 'js/custom.js' %}"></script>

</body>
</html>
