
.h1{
    color: black;
    background-color: aqua;
    text-align: center;
    margin: 0;
    font-style: italic;
    font-size: 40px;

}
.u1{
    color: red;
    font-size: 30px;
    font-family: 'Amatic SC', cursive;
    margin-left: 20px;
    letter-spacing: 2px;
    font-weight: 1000;
}
.u11{
    color: #00ffcc;
    font-size: 20px;
    margin-left: 20px;
    font-family: 'Handlee', cursive;
}
.i{
    width: 35%;
    height: 35%;
}
.h2{
    color: black;
    background-color: red;
    text-align: center;
    margin: 0;
    padding-bottom: 2px;
    font-size: 35px;

}
.u2{
    background-color:lightgoldenrodyellow ;
    color:black;
    display: block;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Pangolin', cursive;
}
.b{
    text-align: center;
}
.btn{
    font-size: 20px;
    background-color:lightblue;
    color: black;

}


.s1{
    font-size: larger;
}
.p1{
    background-image: url('images/Emergency Services.jpg') ;
    background-repeat: no-repeat;
    background-size: 1366px 768px;
}
body{
    background-image: url('images/Emergency Services.jpg');
}
